/* custom tree icons */
#iconTree li {
	line-height: 20px;
}

#iconTree li.contains-items {
	background-image: url('icons/d-arrow-left.png');
	background-size: 20px 20px;
}

#iconTree li.items-expanded {
	background-image: url('icons/d-arrow-down.png');
	background-size: 20px 20px;
}