/* custom tree icons */
#iconTree li {
	line-height: 14px;
	font-size: 90%;
}

#iconTree li.contains-items {
	background-image: url('icons/expand.png');
	background-size: 16px 16px;
}

#iconTree li.items-expanded {
	background-image: url('icons/collapse.png');
	background-size: 16px 16px;
}